@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto-regular.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}