.reviews__button {
    text-align: center;
}

.our-advantages {
    gap: 10px;
}

.specialists__div {
    border-radius: 60px;
    width: 350px;
    padding: 15px;
    background-color: rgb(208, 231, 250);
    color: black;
    box-shadow: 1px 2px 20px 5px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.specialists__name {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 14px;
    font-style: italic;
}

.specialists__container {
    display: flex;
    justify-content: space-around;
}
.popular-services__div {
    border-radius: 60px;
    width: 350px;
    padding: 15px;
    background-color: rgb(208, 231, 250);
    color: black;
    box-shadow: 1px 2px 20px 5px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.specialists__image {
    border-radius: 20px;
}

.popular-services__container {
    display: flex;
    justify-content: space-around;
}

.popular-services__image{
    border-radius: 20px;
}

.new__div__container {
    display: flex;
    justify-content: space-around;
}

.new__title {
    text-align: center;
}
.new__div {
    border-radius: 60px;
    width: 500px;
    padding: 20px;
    background-color: rgb(208, 231, 250);
    color: black;
    box-shadow: 1px 2px 20px 5px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.new__image {
    border-radius: 20px;
}

.our-advantages__title{
    text-align: center;
}
.stock__title {
    text-align: center;
}
.popular-services__title {
    text-align: center;
}
.reviews__title {
    text-align: center;
}

.specialists__title {
    text-align: center;
}
.our-advantages__item {
    border-radius: 50px;
    width: 350px;
    padding: 15px;
    background-color: rgb(208, 231, 250);
    color: black;
    box-shadow: 1px 2px 20px 5px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center
}
.our-advantages__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around
}
.stock__div {
    border-radius: 60px;
    width: 350px;
    padding: 15px;
    background-color: rgb(208, 231, 250);
    color: black;
    box-shadow: 1px 2px 20px 5px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center
    
}
.stock__container {
    display: flex;
    justify-content: space-around;
}

.stock__image {
    border-radius: 20px;
}

.reviews__div {
    border-radius: 50px;
    width: 1050px;
    padding: 10px;
    background-color: rgb(208, 231, 250);
    color: black;
    box-shadow: 1px 2px 20px 5px #70d6f5;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}
.reviews__image{
    border-radius: 60px;
    width: 100px;
    height: 100px;
}